{% extends 'layouts/default/page.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<!--    {% if request.user.is_authenticated %}-->

<!--        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.-->

<!--    {% else %}-->

<!--        {% trans 'You are a guest.' %}-->



<!--    {% endif %}-->

<body class="show-chatbot">

<div class="container d-flex justify-content-between">
    <div class="col-12">
        <div class="chatbot">
            <header>
                <h2>Healthy Bite</h2>
                <span class="close-btn material-symbols-outlined">close</span>
            </header>
            <ul class="chatbox">
                <li class="chat incoming">
                    <span class="material-symbols-outlined">smart_toy</span>
                    <p>Hi there 👋<br>How can I help you today?</p>
                </li>
                {% if default_message %}
                <li class="chat incoming">
                    <span class="material-symbols-outlined">smart_toy</span>
                    <p>{{ default_message|safe }}</p>
                </li>
                {% endif %}
            </ul>
            <div class="chat-input">
                <textarea placeholder="Enter a message..." spellcheck="false"
                          required></textarea>
                <span id="send-btn" class="material-symbols-rounded">send</span>
            </div>
        </div>
    </div>
    </div>

  </body>

{% endblock %}
